@use '../../styles/variables' as *;

.wrapper {
  display: inline-block;
  color: var(--color-border, $color-border);
  vertical-align: middle;
  line-height: 1;
}

.wrapperSm {
  font-size: 1em;
}

.wrapperMd {
  font-size: 1.5rem;
}

.wrapperLg {
  font-size: 2rem;
}

.wrapperPrimary {
  color: var(--color-primary, $color-primary);
}
